<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
<!------  ---------->
    <div class="fadeIn first">
    <img src="/assets/img/lucatinderlogo6.png" id="logo" alt="Logo Lucatinder" />
    </div>
<h2 class="text-center">Alta de usuarios</h2>
<form [formGroup]="angForm" novalidate>
    <div>
        <input placeholder="Nombre" type="text" [(ngModel)]="perfil.nombre" formControlName="nombre" id="nombre"> 
        <div *ngIf="angForm.controls['nombre'].invalid"> 
            <div *ngIf="angForm.controls['nombre'].errors.required">
                Introduce un nombre válido
            </div>
        </div>
    </div>
    <div >
        <input type="text" [(ngModel)]="perfil.username" formControlName="username" id="username" placeholder="Usuario"> 
    </div>
    <div>
        <input placeholder="Edad" type="number" [(ngModel)]="perfil.edad" formControlName="edad" id="edad"> 
            <div *ngIf="angForm.controls['edad'].hasError('min')">
                Introduce una edad correcta
            </div>
    </div>
        <div>
        <input placeholder="Género" type="text" [(ngModel)]="perfil.genero" formControlName="genero" id="genero"> 
    </div>
    <div >
        <select id="provincia" [(ngModel)]="perfil.provincia" formControlName="nombreProvincia" required>
            <option [ngValue]="null" disabled>
                Selecciona tu provincia
            </option>
            <option *ngFor="let ciudad of provincias" [ngValue]="ciudad"> 
                {{ciudad.nombre}}
            </option>
        </select>
         <span *ngIf="nombreProvincia.invalid">
            Este campo es obligatorio
         </span>
    </div>
    <div>
        <input placeholder="Descripcion" type="text" [(ngModel)]="perfil.descripcion" formControlName="descripcion" id="descripcion"> 
    </div>
    <button [disabled]="angForm.invalid"  (click)="createPerfil()" class="btn btn-success" routerLink="/login">Registrar usuario</button>
    <div class="fadeIn first">
        <img src="/assets/img/poweredbyangular2.png" id="logoangular" alt="Logo Angular" />
    </div>
</form>

</div></div>
