
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------  ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Titulos -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/lucatinderlogo6.png" id="logo" alt="Logo Lucatinder" />
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="login" [(ngModel)]="userName">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Registro -->
    <div id="formFooter">
     <a routerLink="/registro" class="underlineHover">Regístrate</a>
    </div>

    <div class="fadeIn first">
        <img src="/assets/img/poweredbyangular2.png" id="logoangular" alt="Logo Angular" />
      </div>

  </div>
</div>
<router-outlet></router-outlet>
